<%- include('layout/header', { title: '微博 - 404', isNav: true })%>

<div class="container margin-top-20">
    <div class="row">
        <!-- 左侧 -->
        <div class="col-8">
            <h4 class="margin-bottom-20 padding-bottom-10 border-bottom">404</h4>
            <p>该网页未找到，请<a href="/">返回首页</a></p>
        </div>
    </div>
</div>

<%- include('layout/footer')%>
